# =========================================================================
# FILES ARE PURPOSELY INCLUDED AS THIS IS A LEARNING DEMO (FastAPI-102)
# We include the .env file to make this a "Plug and Play" experience.
# =========================================================================

# --- INCLUDE ---
!.env

# --- EXCLUDE ---
.venv/
__pycache__/
.git/
.terraform/
*.tfstate*
.agent/
